@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px)
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes scalebtn{
  0% {
      transform: scale(.9);
  }
  50% {
      transform: scale(1);
  }
  100% {
      transform: scale(.9);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

.property-box:hover {
  box-shadow: 0 0 45px rgb(250, 204, 22);
  transition: .5s;
}

.scale {
  animation: scalebtn 2s infinite;
}