.container {
  --max-width: 1280px;
  --padding: 1rem;

  max-width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.animate-float {
  animation: float 1.5s linear 0s infinite;
}

@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.landing-slider .swiper-pagination-bullet {
  height: 50px !important;
  width: 50px !important;
  border-radius: 0 !important;
}