body, html {
  scroll-behavior: smooth;
}

/* loader */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: 
    radial-gradient(farthest-side,#ffa516 95%,#0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 5px),#ffa516 calc(100% - 4px)) content-box;
  animation: l6 2s infinite ;
}
@keyframes l6 {to{transform: rotate(1turn)}}

.loader-text {
  animation: animateText 1.5s infinite;
}

@keyframes animateText {
  0% {
    color: #eab308;
  }
  50% {
    color: #202020;
  }
  100% {
    color: #eab308;
  }
}

.container {
  --max-width: 1280px;
  --padding: 1rem;

  max-width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.animate-float {
  animation: float 1.5s linear 0s infinite;
}

@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.landing-slider .swiper-pagination-bullet {
  height: 50px !important;
  width: 50px !important;
  border-radius: 0 !important;
}

/* BOOKING */
.booking-form input, .booking-form textarea, .booking-form select {
  outline: none;
  border-radius: 3px;
}

.booking-form input:focus, .booking-form textarea:focus, .booking-form select:focus {
  outline: .5px solid #5e5e5e;
}


/* booking */

.rbc-event {
  @apply bg-yellow-600 text-white rounded-lg h-full !important;
}

.rbc-off-range-bg {
  @apply bg-gray-300 !important;
}

.rbc-day-bg:hover {
  @apply bg-yellow-100 !important;
  cursor: pointer
}

.rbc-today {
  @apply bg-yellow-100 !important;
}

.highlighted-day {
  @apply bg-gray-400;
}

.rbc-day-bg.highlighted-day:hover {
  @apply bg-gray-400 !important;
  cursor: auto;
}

.rbc-btn-group {
  @apply flex flex-wrap gap-2 text-sm w-full justify-start items-start md:text-base !important;
}

.rbc-btn-group button {
  @apply px-5 w-20 text-center flex items-center justify-center !important;
}